CompileFlags:
  Add:
    [
      -include,
      /Users/waruhachi/theos/Prefix.pch,
      -isysroot,
      "/Users/waruhachi/theos/sdks/iPhoneOS26.4.sdk/",
      -I/Users/waruhachi/theos/vendor/headers,
      -I/Users/waruhachi/theos/vendor/include,
      -F/Users/waruhachi/theos/vendor/lib,
      -F/Users/waruhachi/theos/sdks/iPhoneOS26.4.sdk/System/Library/PrivateFrameworks,
      -target,
      arm64-apple-ios26.4,
      -fmodules,
      -fcxx-modules,
    ]

Diagnostics:
  Suppress: [
    undeclared_var_use,
    atimport,
    undef_superclass,
    unexpected_at,
    modules_import_nested_redundant,
    cxx_modules_disabled
  ]

---
If:
  PathMatch: .*/(LocusPreferences|Locus)-Bridging-Header\.h$
CompileFlags:
  CompilationDatabase: None
