<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enabled Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>enabledApps</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>User</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>System</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>Hidden</string>
				</dict>
			</array>
			<key>isController</key>
			<true/>
			<key>overridePrincipalClass</key>
			<true/>
			<key>useSearchBar</key>
			<true/>
			<key>label</key>
			<string>Available Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apply</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>Locus</string>
</dict>
</plist>